* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body > header {
    background-color: #2f3640;
    padding: 20px 0;
    color: #f5f6fa;
    position: fixed;
    width: 100%;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

header .container {
    display: flex;
    justify-content: space-between;
}

header ul {
    display: flex;
    
}

header li {
    flex-direction: row;
    padding: 10px;
    list-style-type: none;
}

header li a {
    font-size: 20px;
    color: #f5f6fa;
    text-decoration: none;
    
}

.container {
    width: 1366px;
    margin: 0 auto;
}


.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 600px;
}

.articles article img {
    width: 410px;
    height: 273px;
}

.articles article {
    width: 30%;
}

section {
    padding-top: 130px;
}

section h2 {
    font-size: 42px;
}

section h2, .articles article {
    margin-bottom: 16px;
}

.articles article h3 {
    font-size: 24px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.articles article a {
    background-color: blue;
    color: white;
    padding: 8px;
    display: inline-block;
    border-radius: 10%;
    text-decoration: none;
    transition: 0.2s;
    font-weight: 800;
    margin-top: 8px;
}


.articles article p {
    font-family: Arial, Helvetica, sans-serif;
}

#esportes {
    padding-top: 150px;
    background-color: rgba(0, 255, 0, 0.1);
}

#esportes .articles article a  {
    background-color: rgba(8, 75, 8, 0.744);
}
#esportes .articles article a:hover {
    background-color: rgba(5, 115, 125, 0.5);
}

#economia {
    background-color: #fff59f
}

#economia .articles article a  {
    background-color: #ff9f1a
}

#economia .articles article a:hover {
    background-color: #c3b95f;
}

#games {
    background-color: #d93b3b66;
}

#games .articles article a { 
    background-color: #a51919;
    color: white;
    padding: 8px;
    display: inline-block;
    border-radius: 10%;
    text-decoration: none;
    transition: 0.2s;
    font-weight: 800;
    margin-top: 8px;
}

footer {
    background-color: #2f3640;
    text-align: center;
}

footer p {
    padding: 40px;
    color:white;
}